.x-conteiner{
    position: relative;
    width: 40px;
    height: 100%;
    margin-left: auto;
    background-color: transparent;
    border-radius: 0px 5px 0px 0px;
    transition: background-color 0.5s ease-in-out;
}

.x-conteiner:hover{
    background-color: red;
}

.x-conteiner .line{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2px;
    height: 20px;
    background-color: black;
    transform-origin: center center;
}

.line-1{
    transform: translate(-50%, -50%) rotate(45deg);
}

.line-2{
    transform: translate(-50%, -50%) rotate(-45deg);
}

@keyframes rotacionar-linha-positivo {
    0%{
        transform: translate(-50%, -50%) rotate(45deg);
    }
    100%{
        transform: translate(-50%, -50%) rotate(-45deg);
    }
}


@keyframes rotacionar-linha-negativo {
    0%{
        transform: translate(-50%, -50%) rotate(-45deg);
    }
    100%{
        transform: translate(-50%, -50%) rotate(45deg);
    }
}

.rotacionar-positivo {
    animation: rotacionar-linha-positivo 0.5s ease-in-out;
}

.rotacionar-negativo {
    animation: rotacionar-linha-negativo 0.5s ease-in-out;
}