#Bloco-Notas{
    position: fixed;
    display: flex;
    flex-direction: column;
    left: 35%;
    top: 100%;
    width: 450px;
    height: 400px;
    background-color: white;
    border-radius: 5px 5px 20px 20px;
    font-family: "Share Tech Mono", monospace;
    font-weight: 600;
    user-select: none;
    z-index: 1;
    overflow: hidden;
}

#Bar-Top-Bloco{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 40px;
    border-radius: 5px 5px 0px 0px;
    background-color: white;
    overflow: hidden;
    border-bottom: 5px solid whitesmoke;
}

#Icone-Bloco-Notas{
    width: 20px;
    filter: drop-shadow(0px 0px 1px black);
    margin-left: 5px;
    margin-right: 5px;
}

#Conteiner-Bloco{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 0px 0px 20px 20px;
    overflow-y: auto;
    overflow-x: hidden;
}

#Texto-Bloco{
    margin: 20px 0 20px 20px;
    white-space: normal;
    word-wrap: break-word;
    color: black;
}

.Title-Readme{
    color: #00b400;
}


@keyframes fechar-notas {
    0%{
        width: 450px;
        height: 400px;
    }
    100%{
        left: 35%;
        top: 100%;
        width: 0px;
        height: 0px;
    }
}

@keyframes abrir-notas {
    0%{
        left: 35%;
        top: 100%;
        width: 0px;
        height: 0px;
    }
    100%{
        top: 20%;
        left: 7%;
        width: 450px;
        height: 400px;
    }
}

.anim-fechar-notas{
    animation: fechar-notas 0.5s ease-in both;
}

.anim-abrir-notas{
    animation: abrir-notas 0.5s ease-out both;
}