@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

/*Barra de Tarefas Geral*/
#Taskbar{
  position: fixed;
  display: flex;
  bottom: -40px;
  width: 100%;
  height: 40px;
  background-color: #3d3d3d;
  font-family: "Share Tech Mono", monospace;
  font-weight: bolder;
  font-size: 15px;
  user-select: none;
  z-index: 3;
}

#Seta_Open{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  left: 50%;
  bottom: 45px;
  transform: translateX(-50%);
  background-color: transparent;
  border: 0px;
  outline: none;
  cursor: none;
  filter: drop-shadow(0px 0px 1px black);
}

#Seta_Open img{
  width: 40px;
  filter: brightness(0) invert(1);
  transform: rotate(180deg);
}

@keyframes fechar-taskbar {
  0%{
    bottom: 0px;
  }
  100%{
    bottom: -40px;
  }
}

@keyframes abrir-taskbar {
  0%{
    bottom: -40px;
  }
  100%{
    bottom: 0px;
  }
}

@keyframes rotacionar-seta-close {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(180deg);
  }
}

@keyframes rotacionar-seta-open {
  0%{
    transform: rotate(180deg);
  }
  100%{
    transform: rotate(0deg);
  }
}

/*Barra de Tarefas de menu (pesquisa)*/
#Taskbar-menu{
  display: flex;
  position: relative;
  width: 300px;
  height: 100%;
}

#Logo_Iniciar{
  margin-left: auto;
  background-color: #3d3d3d;
}

#Icone-Pesquisa{
  position: absolute;
  margin-left: 60px;
  top: 50%;
  transform: scaleX(-1) translateY(-50%);
}

#Barra-de-Pesquisa{
  outline: none;
  padding-left: 50px;
}

#Taskbar-menu input{
  margin-left: auto;
  width: 230px;
  height: 100%;
}

#Janela-Pesquisa{
  position: absolute;
  display: flex;
  width: 100%;
  height: 0px;
  bottom: 0;
  z-index: -1;
  border-radius: 0px 10px 0px 0px;
  overflow: hidden;
  transform: translateY(-40px);
  background: linear-gradient(
    to top,
    #25252580,
    #4d4d4d80
  );
  backdrop-filter: blur(10px);
}

.abrir-pesquisa{
  animation: abrir-pesquisa 0.5s ease both;
}

.fechar-pesquisa{
  animation: fechar-pesquisa 0.5s ease both;
}

@keyframes fechar-pesquisa {
  0%{
    height: 400px;
  }
  100%{
    height: 0px;
  }
}

@keyframes abrir-pesquisa {
  0%{
    height: 0px;
  }
  100%{
    height: 400px;
  }
}

#List-Config-Desl{
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  width: 15%;
  height: 100%;
  gap: 10px;
}

#List-Config-Desl img{
  filter: brightness(0) invert(1);
}

#List-Config-Desl img:nth-of-type(1){
  margin-top: 20px;
  margin-bottom: auto;
  width: 25px;
}

#List-Config-Desl img:nth-of-type(2) {
  width: 30px;
}

#List-Config-Desl img:nth-of-type(3) {
  width: 40px;
  margin-bottom: 10px;
}

#List-Aplicativos{
  display: flex;
  flex-direction: column;
  width: 85%;
  height: 100%;
}

#List-Aplicativos ul{
  flex-direction: column;
  list-style: none;
  padding: 0;
  width: 100%;
  height: 100%;
  gap: 10px;
  overflow-y: scroll;
  overflow-x: hidden;
}

#List-Aplicativos ul::-webkit-scrollbar{
  width: 5px;
}

#List-Aplicativos ul::-webkit-scrollbar-track{
  background: transparent;
  border-radius: 10px;
}

#List-Aplicativos ul::-webkit-scrollbar-thumb{
  background-color: #181818;
  border-radius: 10px;
}

#List-Aplicativos ul::-webkit-scrollbar-thumb:hover{
  background-color: #272727;
}


#List-Aplicativos ul li{
  display: flex;
  align-items: center;
  gap: 5px;
  width: 100%;
  height: 50px;
  border-radius: 5px;
  background-color: transparent;
  backdrop-filter: blur(10px);
  transition: background-color 0.5s ease;
}

#List-Aplicativos ul li:hover{
  background-color: #57575780;
}

#List-Aplicativos ul li img{
  margin-left: 5px;
  width: 30px;
  height: 30px;
}

#List-Aplicativos ul li span{
  color: white;
}

#sherlock-holmes{
  display: flex;
}

#eu-amo-ela{
  display: none;
}

/*Barra de Tarrefas dos Apps*/
#Taskbar-apps{
  width: 300px;
  height: 100%;
  display: flex;
}

.Icones{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 100%;
  margin-left: 10px;
  border-radius: 5px;
  transition: background-color 0.2s linear;
}

.Icones img{
  width: 40px;
}

.Icones:hover{
  background-color: #242424;
}

/*Barra de Tarefas dos Status*/
#Taskbar-status{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 100%;
  margin-left: auto;
}

#Bateria{
  width: 30px;
  filter: brightness(0) invert(1) drop-shadow(0px 0px 1px black);
  margin-left: 20px;
}

#Wifi{
  width: 50px;
  filter: brightness(0) invert(1) drop-shadow(0px 0px 1px black);
  transform: rotate(-45deg);
  margin-left: 5px;
}

#Som{
  width: 30px;
  filter: brightness(0) invert(1) drop-shadow(0px 0px 1px black);
  margin-left: 0px;
  margin-right: 10px;
}

#Hora-Data{
  text-align: center;
}

