@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

#NavBar{
    position: fixed;
    width: 550px;
    height: 100px;
    left: calc(50% - 250px);
    top: 3%;
    background-color: #1b1b1b;
    font-family: "Share Tech Mono", monospace;
    font-weight: 600;
    border-radius: 20px;
    user-select: none;
    z-index: 1;
}

#Barra-Janela{
    display: flex;
    align-items: center;
    width: 100%;
    height: 30px;
    background-color: #ffffff;
    margin-bottom: 5px;
    border-radius: 5px 5px 0px 0px;
    overflow: hidden;
}

#Icone-Janela{
    width: 20px;
    margin-left: 5px;
    margin-right: 5px;
    filter: drop-shadow(0px 0px 1px black);
}

#Nome-Text{
    color: black;
    white-space: nowrap;
}

@keyframes fechar-navbar {
    0%{
        width: 550px;
        height: 100px;
    }
    100%{
        left: 20%;
        top: 100%;
        width: 0px;
        height: 0px;
    }
}

@keyframes abrir-navbar {
    0%{
        left: 20%;
        top: 100%;
        width: 0px;
        height: 0px;
    }
    100%{
        left: calc(50% - 250px);
        top: 3%;
        width: 550px;
        height: 100px;
    }
}

.anim-fechar-navbar{
    animation: fechar-navbar 0.5s ease-in both;
}

.anim-abrir-navbar{
    animation: abrir-navbar 0.5s ease-out both;
}

#Mensagem-terminal{
    margin-left: 10px;
    color: #ffffff;
}

#Lista-Nav{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
    gap: 10px;
}

#Barra-Nav{
    overflow: hidden;
}

.TextoNav{
    position: relative;
    padding: 0 1ch;
    display: inline-block;
    text-decoration: none;
    color: #00d600;
    font-size: 20px;
    cursor: none;
}

.TextoNav::before,
.TextoNav::after {
    content: "";
    position: absolute;
    opacity: 0;
    transition: opacity 0.2s ease;
    color: #00d600;
}

.TextoNav::before {
    content: ">";
    left: 0;
}

.TextoNav::after {
    content: "<";
    right: 0;
}

.TextoNav:hover::before,
.TextoNav:hover::after {
    opacity: 1;
}